
.about-me {
  text-align: center;
}

.change {
  background-image: url("../images/new.jpg");
  background-size: 1600px 426px;
}
.heading{
  font-family: 'Do Hyeon', sans-serif;
  
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.carousel-item {
 height: 500px;
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.
